<!DOCTYPE html>
<html>

<head>
    <title>Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='files.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
</head>

<body>
    {% include "_page_nav.html" %}

    <h1>Available Files</h1>

    <div class="card-container">

        {% for file in files %}
        <div class="card">
            <h3>{{ file }}</h3>

            <a href="{{ url_for('view_file', category=category, filename=file) }}" class="view-btn">
                View Data
            </a>
        </div>
        {% endfor %}

    </div>

</body>

</html>

