<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
</head>

<body>

<a href="/" class="back-btn">← Back</a>

<section class="feedback-container">

    <h1>My Training Experience</h1>
    <h2>Training Feedback</h2>

    <div class="profile-card">
        <h3>Mansi Sharma</h3>
        <p>AI/ML Trainee</p>
    </div>

    <div class="feedback-card">
        <h4>Mentor's Evaluation</h4>

        <p class="feedback-text">
            Annant Sir  has been an exceptional mentor throughout my AI/ML
            training journey. His teaching approach is clear, practical,
            and highly motivating. He helped me understand complex concepts
            with ease and encouraged me to think critically.

            <br><br>

            His continuous guidance, patience, and constructive feedback
            boosted my confidence and improved my problem-solving skills.
            I am truly grateful for his mentorship and support.
        </p>

        <div class="mentor-sign">
           
            <span>AI & ML Engineer, CodroidHub</span>
        </div>
    </div>

</section>

</body>
</html>
